body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    margin-top: 20px;
}

header h1 {
    color: black;
}

header p {
    color: #777;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    margin: 20px;
}

.button:hover {
    background-color: #333;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: black;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

footer {
    margin-top: 50px;
    color: #777;
}

#clima {
    margin-top: 20px;
    padding: 20px;
    background-color: #f4f4f9;
    border-top: 2px solid #ccc;
    text-align: center;
}

#clima h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

#clima table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: left;
}

#clima th {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

#clima td {
    background-color: white;
    color: black;
    padding: 10px;
    text-align: center;
}

#clima tr:nth-child(even) {
    background-color: #f2f2f2;
}

#clima tr:hover {
    background-color: #ddd;
}